
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <button><a class="nav-link active" aria-current="page" href="/admin/logout">Log out</a></button>
                </li>

            </ul>
          </div>
        </div>
    </nav>
<div class="container">
    <div class="row">
        <div class="col">
        <table class="table table-dark table-striped-columns">
            <tbody>
                <thead>
                    <td>Approved Users</td>
                </thead>
                {%for user in users%}
                    {%if user.approval==true%}
                    <tr>
                        <!-- <th></th> -->
                        <td>{{user.username}}</td>
                        <td>{{user.user_id}}</td>
                        <td>{{user.user_type}}</td>
                        <td><a href="/admin/{{user.user_id}}/revoke"><button>Revoke Approval</button></a></td>
                    </tr>
                    {%endif%}


                {%endfor%}

            </tbody>
        </table>
        </div>
        <div class="col">
        <table class="table table-dark table-striped-columns">
            <tbody>
                <thead>
                    <td>Pending Users Approval</td>
                </thead>
                {%for user in users%}
                    {%if user.approval==false%}
                    <tr>
                        <td>{{user.username}}</td>
                        <td>{{user.user_id}}</td>
                        <td>{{user.user_type}}</td>
                        <td><a href="/admin/{{user.user_id}}/approve"><button>Approve</button></a></td>
                    </tr>
                    {%endif%}
                {%endfor%}
            </tbody>
        </table>
        </div>
        <div class="col">
        <table class="table table-dark table-striped-columns">
            <tbody>
                <thead>
                    <td>Pending Posts Approval</td>
                </thead>
                {%for house in houses%}
                    {% if house.approval==false %}
                    <tr>
                        <td>{{house.name}}</td>
                        <td><a href="/admin/{{house.uploader_id}}/{{house.post_id}}"><button>Approve</button></a></td>
                    </tr>
                    {% endif %}
                {%endfor%}
            </tbody>
        </table>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>
