{% extends "navbar.html" %}
{% block content %}
<div class="container">
    <form action="" method="post">
        <table class="table table-dark table-striped-columns">
            <div style="height: 100%; width: 100%;" class="h-100 d-flex align-items-center justify-content-center">
            </div>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th><label for="name" class="form-label">Full Name</label></th>
                    <td><input type="text" class="form-control" name="name"></td>
                </tr>
                <tr>
                    <th><label class="form-label">Amount</label></th>
                    <td><label >12$</label></td>
                </tr>
                <tr>
                    <th><label for="bkash/creditCard" class="form-label">Bkash Or Credit Card Number</label></th>
                    <td><input type="text" class="form-control" name="bkash/creditCard"></td>
                </tr>
                <tr>
                    <th><button type="submit" class="btn btn-primary">Confirm Purchase</button></th>

                </tr>
            </tbody>
        
    </form>
</div>
{% endblock %}


