{% extends "navbar.html" %}
{% block content %}
 {%if payMethod=="bkash"%}
    {% set payMethod = "Owner Bkash Number"%} ,{%set account = house.bkashNumber %}
 {%else%}
    {% set payMethod = "Owner Bank Account"%}, {% set account = house.ownerBankAccountNumber %}
 {%endif%}
<div class="container">
    <form action="/users/{{user.user_id}}/{{post_id}}/payment" method="post">
        <table class="table table-dark table-striped-columns">
            <div style="height: 100%; width: 100%;" class="h-100 d-flex align-items-center justify-content-center">
            </div>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th><label for="name" class="form-label">House Owner Name</label></th>
                    <td><label for="name" class="form-label">{{houseOwner.username}}</label></td>
                </tr>
                <tr>
                    <th><label class="form-label">Amount</label></th>
                    <td><label >{{house.price}} TAKA</label></td>
                </tr>
                <tr>
                    <th>{{payMethod}}</th>
                    <td>{{account}}</td>                  
                </tr>
                
                {%if (payMethod=="Owner Bkash Number")%}                
                <tr>
                    <th><label for="trx" class="form-label">Make Payment and Enter TRX ID</label></th>
                    <td><input type="text" class="form-control" name="trx" required></td>
                </tr>
                {%else%}
                <tr>
                    <th><label for="bankId" class="form-label">Enter Your Bank Account Number</label></th>
                    <td><input type="text" class="form-control" name="bankId" required></td>
                </tr>
                {%endif%}
                <input type="hidden" name="payMethod" value="{{payMethod}}">
                <input type="hidden" name="houseOwnerId" value="{{house.uploaded_by}}">
                <input type="hidden" name="houseId" value="{{house._id}}">
                <!-- <input type="hidden" name="user" value="{{user}}"> -->
                <tr>
                    <th>Please Rate Owner</th>
                    <td>
                        <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:40px;cursor:pointer;"  class="fa fa-star checked"></span>
                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
                        <br/>
                        <textarea name="review"  style="margin-top:5px;" class="form-control" rows="3" id="comment" placeholder="Enter your review"></textarea>
                    </td>
                </tr>
                <input type="hidden" id="rating" name="rating" value="none">
                <tr>
                    <td><button type="submit" onclick="data()" class="btn btn-primary">Confirm Purchase</button></td>
                </tr>
            </tbody>
    </form>
</div>
<script>
    var count;
    
    function starmark(item)
    {
      count=item.id[0];
      sessionStorage.starRating = count;
      var subid= item.id.substring(1);
      for(var i=0;i<5;i++)
      {
        if(i<count){
        document.getElementById((i+1)+subid).style.color="orange";
        }
        else
        {
          document.getElementById((i+1)+subid).style.color="black";
        }
    
    
      }
      
    
    }
    function data(){
        document.getElementById("rating").value = count;
    }
    </script>
{% endblock %}


