<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>post details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
<body>
{% extends "navbar.html" %}
{% block content %}
    <div class="container">

    <table class="table table-dark table-striped-columns">
        <div style="height: 100%; width: 100%;" class="h-100 d-flex align-items-center justify-content-center">
        <div style="width: 20%; height:20%;" class="">
            <img src="/../images/{{house.picture}}" class="img-fluid img-thumbnail" >
        </div>
        </div>
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{house.name}}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{house.location}}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{house.price}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{house.description}}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{c_user.phone_number}}</td>
            </tr>
            <tr>
                <th>For</th>
                {% if house.for=="Seller"%}
                <td>Sell</td>
                {%elif house.for=="Renter"%}
                <td>Rent</td>
                {%endif%}
            </tr>
            <tr>
              <th>Status</th>
              <td>{{house.status}}</td>
            </tr>
            <tr>
              <th>Owner Bank Account Number</th>
              <td>{{house.ownerBankAccountNumber}}</td>
            </tr>
            {% if (c_user!=undefined)  %}
            <tr>
                <th>Uploaded By</th>
                <td>{{c_user.username}}</td>
            </tr>

              {%if (house.uploader_id==user.user_id)%}
              <tr>
                  <th>
                      <a href="/users/{{user_id}}/posts/{{house.post_id}}/edit"><button >Edit</button></a>
                  </th>
              </tr>
              {%endif%}
            {%endif%}
            {%if (user.user_type=="Customer" and house.status=="Available")%}
              <tr>
                <th>Chat With Owner</th>
                {%if (c_user.facebook_id!="")%}
                <td><a href="{{c_user.facebook_id}}"><button >Chat With Owner</button></a></td>
                {%else%}
                <td>User did not give his facebook id for chat</td>
                {%endif%}
              </tr>
                    <form action="/users/{{c_user.user_id}}/posts/{{house.post_id}}/payment" method="post">
                      <tr>
                        <th>
                            Buy Now: 
                          <button name="payMethod" value="bkash"> Bkash</button>
                          <button name="payMethod" value="bb">Brac Bank</button>
                          <button name="payMethod" value="dbbl">DBBL </button>
                    </form>
                  </th>
                </tr>
            {%endif%}

        </tbody>
        
    </table>
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>
